{% extends 'baseBack.html.twig' %}

{% block title %}Blogueur index{% endblock %}

{% block body %}
    <h1>Blogueur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogueur in blogueurs %}
            <tr>
                <td>{{ blogueur.id }}</td>
                <td>{{ blogueur.name }}</td>
                <td>
                    <a href="{{ path('blogueur_show', {'id': blogueur.id}) }}">show</a>
                    <a href="{{ path('blogueur_edit', {'id': blogueur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blogueur_new') }}">Create new</a>
{% endblock %}
