{% extends 'front.html.twig' %}
{% block title %}Modification du profil de {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}
    <div class="form-check ">
        <div class="col-xs4">
            <h1>Modification du profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>
            {{ form(form) }}
        </div>

    </div>
{% endblock %}