{% extends 'front.html.twig' %}

{% block body %}
    <section id="speakers-details">
        <div class="container">


            <div class="row">
                <div class="col-md-6">

                    <img src="{{ asset('/back/img/')}}{{ hotel.imghotel }}" alt="Speaker 1" class="img-fluid">
                </div>

                <div class="col-md-6">
                    <div class="details">
                        <h1>{{ hotel.getNom }}</h1>
                        <div class="social">

                        </div>

                     <h2>Adress : {{ hotel.ville }}</h2>
                        <h6>nombres de chambres : {{ hotel.nbchambre }} chambres</h6>


                        {% for i in hotel.relation %}

                    <h3>   Chambre : {{ i.type}}  </h3>
                            <h6>Nombre de lits : {{ i.NbLits}}    </h6>
                            <h6>Prix {{ i.Prix}} <pre>
                                </pre>
                                Vue {{ i.Vue}} </h6>



                        {% endfor %}

                    </div>
                </div>



            </div>
        </div>

    </section>











{% endblock %}